<section id="hero-el" class="hero">
  <div class="layers layers--active">
    <div class="layers__container">
      <div class="layers__item layers__item--1" style="background-image: url(./assets/img/slide-1.webp)";></div>
      <div class="layers__item layers__item--2">
        <div class="hero-content">
          <h1 class="hero-content__title">Кирилл Земзюлин</h1>
          <p class="hero-content__text">фотограф • стилист • мичуринск</p>
          <button class="hero-button hero-button" aria-label="Следующее фото">
            <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
              <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="layers__item layers__item--3"  style="background-image: url(./assets/img/green-leaves.webp)";>
      </div>
      <div class="layers__item layers__item--4" style="background-image: url(./assets/img/bird.webp)";></div>
      <div class="layers__item layers__item--5" style="background-image: url(./assets/img/yellow-leaf.webp)";></div>
      <div class="layers__item layers__item--rain">
        <canvas id="rain"></canvas>
      </div>
    </div>
  </div>
  <div aria-hidden="true" class="layers">
    <div class="layers__container">
      <div class="layers__item layers__item--1" style="background-image: url(./assets/img/slide-2.webp)"; ></div>
      <div class="layers__item layers__item--1 layers__item layers__item--1-no-bg" style="background-image: url(./assets/img/slide-2-no-bg.webp)"; ></div>
      <div class="layers__item layers__item--2">
        <div class="hero-content">
          <h2 class="hero-content__title">Профессиональная съёмка</h2>
          <p class="hero-content__text">Высокое качество в каждой детали</p>
          <a class="hero-content__link hero-button" target="_blank" href="https://kirillzemzyulin.ru/">Заказать фотосессию</a>
        </div>
      </div>
      <div class="layers__item layers__item--3 layers__item--snowflakes"  style="background-image: url(./assets/img/snowflake.webp)";>
      </div>
      <div class="layers__item layers__item--4" style="background-image: url(./assets/img/snowflake.webp)";></div>
      <div class="layers__item layers__item--5" style="background-image: url(./assets/img/snowflake.webp)";></div>
      <div class="layers__item layers__item--snow">
        <canvas id="snow"></canvas>
      </div>
    </div>

  </div>
 
</section> 