.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 29px;
  }

  &__nav {
    display: flex;
    font-size: 18px;
  }
}

.list-nav {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;

  &__item {
    color: var(--link-header);
  }
}

