#rain {
  display: block;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

.hero {
  position: relative;
  height: 100vh;
}

.layers {
  position: absolute;
  inset: 0;
  perspective: 1000px;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform 1s;


  &--active {
    transform: translateY(0);
    pointer-events: initial;
  }

  &__container {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    transition: transform 0.3s linear;
    will-change: transform;

  }

  &__item {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--1 {
      inset: -7vw;
      filter: brightness(1.2);
      transform: translateZ(-55px) scale(1.06);
    }

    &--2 {
      inset: -7vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateZ(20px) scale(1.06);
    }

    &--3 {
      width: 100%;
      height: 100%;
      right: -20%;
      pointer-events: none;
      transform: translateZ(80px) scale(0.8);
    }

    &--snowflakes {
      right: initial;
      left: -20%;
      width: 50%;
      height: 50%;
    }

    &--4 {
      top: 10%;
      right: 20%;
      width: 230px;
      height: 200px;
      transform: translateZ(190px) scale(0.8);
      pointer-events: none;
    }

    &--5 {
      top: 50%;
      left: 20%;
      width: 300px;
      height: 300px;
      transform: translateZ(300px) scale(0.9);
      pointer-events: none;
    }

    &--rain,
    &--snow {
      top: 0;
      left: -50%;
      width: 100%;
      height: 100%;
      transform: translateZ(380px);
      pointer-events: none;
    }

    &--snow {
      left: 0;
    }

  }
}


.hero-content {
  display: grid;
  justify-items: center;
  text-align: center;
  color: var(--color_1);
  text-shadow: 0 0 5px rgb(0, 0, 0);

  &__title {
    font-size: 70px;
    margin-bottom: 10px;
    font-family: 'PT Serif', serif;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;

  }

  &__link {
    margin-bottom: 10px;
  }

  &__btn-next {
    justify-self: end;
  }
}


.hero-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  border: none;
  outline: none;
  background: #111;
  color: var(--color_1);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;

  &:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  &:active {
    color: #ffffff
  }

  &:active:after {
    background: transparent;
  }

  &:hover:before {
    opacity: 1;
  }

  &--min {
    padding: 0.5em 0.8em
  }
}



@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}